<div class="frames-container">
  <div class="frames">
    <ng-container *ngFor="let frame of frames">
      <div class="frame" [ngClass]="{'active': frame.isActive? true : false}">
        <div class="frame-number">{{frame.id}}</div>
        <canvas class="frame-canvas"></canvas>
        <mat-icon class="frame-icon frame-duplicate">content_copy</mat-icon>
        <mat-icon class="frame-icon frame-delete">delete</mat-icon>
        <mat-icon class="frame-icon frame-drag">open_with</mat-icon>
      </div>
    </ng-container>
  </div>
  <button mat-fab extended color="primary">
    <mat-icon>add</mat-icon>
    Add frame
  </button>
</div>
