@import 'vars';
@import 'mixins';

.frames-container {
  @include flex(column);
  @include flex-center;
}

.frame {
  @include square-block($large-square);
  @include border($shadow-color);
  
  position: relative;
  margin: $default-offset-small;

  &:hover *{
    opacity: 1;
  }

  &-delete {
    right: 0;
  }
  
  &-duplicate {
    bottom: 0;
  }

  &-canvas {
    @include square-block($large-square);
    image-rendering: pixelated;
  }
  
  &-drag {
    bottom: 0;
    left: 0;
  }

  &-number {
    @include square-block($small-square);
    @include flex;
    @include flex-center;
    @include font($default-font);
    position: absolute;
    background-color: $primary;
    color: $white
  }

  &-icon {
    right: 0;
    z-index: 2;
    position: absolute;
    opacity: 0;
    color: $primary;
    cursor: pointer;

    &:hover {
      color: $secondary
    }
  }
}

.active {
  @include border($primary);
}

.frame-state {
  position: relative;
  top: 0;
  z-index: 1;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.frame-button {
  @include font($button-font);
}