<div class="frame-panel">
  <ul class="frame-containers">
    <li class="frame-container">
      <div class="frame frame--active">
        <div class="frame__number">1</div>
        <canvas class="frame__canvas"></canvas>
        <button class="frame__button frame__duplicate"></button>
        <button class="frame__button frame__delete"></button>
        <button class="frame__button frame__dragDrop"></button>
      </div>
    </li>
  </ul>
  <button class="frame__add" id="add-frame">Add new frame</button>
</div>