/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Pixel';
  src: url(./app/assets/fonts/VT323-Regular.ttf);
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Pixel', "Helvetica Neue", sans-serif;
}

main {
  height: 90%;
}

* {
  font-family: 'Pixel', "Helvetica Neue", sans-serif;
}
