<header>
  <h1 class="title">SPC</h1>
  <mat-icon [matMenuTriggerFor]="menu" class="icon" #menuTrigger>settings</mat-icon>
  <mat-menu #menu="matMenu">
    <div class="radio">
      <label class="radio-label">Current canvas size:</label>
      <mat-radio-group
        aria-labelledby="label"
        class="radio-group"
        [(ngModel)]="currentSize">
        <mat-radio-button 
          class="radio-button" 
          *ngFor="let size of sizes" 
          [value]="size"
          (click)="setSize(size)"
        >
          {{size}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-menu>
</header>