<div class="tools-container">
  <section class="tools-setting">
    <div class="tools">
      <ng-container *ngFor="let tool of tools">
        <mat-icon class="icons" color="primary" [matTooltip]="tool.name" (click)="setTool(tool)">{{tool.icon}}
        </mat-icon>
      </ng-container>
    </div>
    <ng-container *ngIf="isDrawTools(tools[0])">
      <div class="draw-size">
        <div class="draw-size-title">
          <label>Thickness</label>
          <mat-form-field>
            <input matInput type="number" class="draw-size-number" max="100" [(ngModel)]="value">
            <label matSuffix>px</label>
          </mat-form-field>
        </div>
        <mat-slider min="1" max="100" step="1" [discrete]="false" [showTickMarks]="false">
          <input matSliderThumb [(ngModel)]="value">
        </mat-slider>
      </div>
    </ng-container>
  </section>
  <section class="colors-container">
    <div class="color-palette">
      <div class="current-color">
        <input type="color" class="current-color-box" (click)="changeActiveColor($event)">
      </div> 
      <div class="default-colors">
        <ng-container *ngFor="let color of colors">
          <div class="color-box" [ngStyle]="{'background-color': addColorElement(color.colorValue)}" (click)="setColor(color.colorValue)"></div>
        </ng-container>
      </div>
      <div class="custom-colors">
        <ng-container *ngFor="let color of customColors">
          <input type="color" class="color-box" [value]="addColorElement(color.colorValue)">
        </ng-container>
        <button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </section> 
</div>