$primary: #673ab7;
$white: #ffffff;
$border-color: #bfb6b6;
$bg-color: #1D1D1D;
$shadow-color: rgba(34, 60, 80, 0.21);

$default-offset: 1rem;
$default-offset-small: $default-offset * 0.5;

$default-radius: 0.5rem;