<div class="tools-container">
  <section class="tools-setting">
    <div class="tools">
      <ng-container *ngFor="let tool of tools">
        <mat-icon 
          class="icons" 
          [color]="tool.isActive ? 'accent' : 'primary'" 
          [matTooltip]="tool.name" 
          (click)="setTool(tool)">
          {{tool.icon}}
        </mat-icon>
      </ng-container>
    </div>
    <ng-container *ngIf="isDrawTools()">
      <slider-component [config]="CONFIG_SLIDER" (getSize)="setSize($event)"></slider-component>
    </ng-container>
  </section>
  <section class="colors-container">
    <div class="color-palette">
      <div class="current-color">
        <mat-form-field class="current-color-form">
          <input matInput type="color" class="current-color-box" [(ngModel)]="activeTool.colorValue"/>
        </mat-form-field>
      </div> 
      <div class="default-colors">
        <ng-container *ngFor="let color of colors">
          <div class="color-box" [ngStyle]="{'background-color': color.colorValue}" (click)="setColor(color.colorValue)"></div>
        </ng-container>
      </div>
      <div class="custom-colors">
        <ng-container *ngFor="let color of customColors">
          <input type="color" class="color-box" [value]="color.colorValue" (dblclick)="changeActiveColor($event)">
        </ng-container>
        <button
          mat-icon-button color="primary"
          *ngIf="customColors.length < MAX_CUSTOM_COLORS"
          (click)="addCustomColor()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </section> 
</div>