@import 'vars';
@import 'mixins';

:host {    
  .animation {
    position: relative;
    width: 100%;

    &-preview {
      @include frame-size(18rem);
      @include border;
      
      image-rendering: pixelated;
      background-color: $white;
    }
  }
  
  .icon {
    @include border(transparent);
    
    position: absolute;
    right: 0;
    color: $primary;
    cursor: pointer;
  
    &:hover {
      color: $secondary;
    }
  }
}