<div class="tools-container">
  <section class="tools-setting">
    <div class="tools">
      <ng-container *ngFor="let tool of tools">
        <mat-icon class="icons" [matTooltip]="tool.name" (click)="setTool(tool)">{{tool.icon}}
        </mat-icon>
      </ng-container>
      <mat-icon class="icons" [matTooltip]="'Eraser'" svgIcon="icon_eraser">eraser</mat-icon>
    </div>
    <ng-container *ngIf="isDrawTools(tools[0])">
      <div class="draw-size">
        <div class="draw-size-title">
          <label>Thickness</label>
          <mat-form-field>
            <input matInput type="number" class="draw-size-number" max="100" [(ngModel)]="value">
            <label matSuffix>px</label>
          </mat-form-field>
        </div>
        <mat-slider min="1" max="100" step="1" [discrete]="false" [showTickMarks]="false">
          <input matSliderThumb [(ngModel)]="value">
        </mat-slider>
      </div>
    </ng-container>
  </section>
  <section class="colors-container">
    <div class="color-palette">
      <ng-container *ngFor="let color of colors">
        <input type="color" class="color-box" [value]="setColor(color.colorValue)">
      </ng-container>
    </div>
    <!-- <input type="color" value="#009900" class="color-box primary-color" id="current-color">  
    <input type="color" value="#000000" class="color-box preview-color" id="prev-color">
    <button class="color-change" id="colorChange"></button> -->
  </section> 
</div>