@import '../../css/var';


.header__button-login {
    @include sizeBox(100%, 40px);

    display: flex;
    justify-content: start;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    background: transparent;
    color: rgba(0, 0, 0, 0.541327);
    cursor: pointer;

    &:hover{
        background-color: rgba(35, 245, 28, 0.548);
        border: 1px solid transparent;
        border-radius: 10%;
    }
}
