@import 'mixins';
@import 'vars';

:host {
  $main-canvas-size: 50rem;

  margin: 0 $default-offset;

  .canvas-container {
    @include flex(column);
    @include flex-center;
    @include square-block(100%);
  }

  .canvas{
    @include square-block($main-canvas-size);
    @include border($border-color);
    image-rendering: pixelated;
    background-color: $white;
  }
}