@import 'vars';
@import 'mixins';

:host {
  mat-slider {
    width: 96%
  }

  .form-draw {
    @include block-size(5rem, 2.5rem);
  
    ::ng-deep .mat-mdc-text-field-wrapper {
      @include flex;
      @include flex-center;
      @include border;
      border-radius: 0;
      padding: 0 $default-offset-small;
  
      .mat-mdc-form-field-focus-overlay {
        background-color: transparent;
      }
  
      .mdc-line-ripple {
        display: none;
      }
    }
  
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    ::ng-deep .mdc-text-field{
      background-color: transparent !important;
    }
    
    ::ng-deep .mat-mdc-text-field-wrapper {
      min-height: auto;
      padding: 0 0.4rem !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .slider {
    @include flex(column);
    align-items: center;
  
    &-title {
      @include flex;
      @include flex-position(space-between, center);
      width: 100%;
      font-size: 1rem;
    }
  
    &-number {
      text-align: right;
    }
  }
}